.navbar-default,
.navbar-inverse {
  border-bottom: 0;
  background-color: grey;
}
.jumbotron {
  margin-top: 80px;
}
.jumbotron h1,
.jumbotron.bg-primary h1 {
  color: grey;
}
.bg-primary {
  color: #fff;
  background: #1d0f0e;
}
.bg-success {
  background: black;
}
.bg-info {
  background: grey;
}
.bg-warning {
  background: #f0ad4e;
}
.bg-danger {
  background: #d9534f;
}
a.navbar-brand,
a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:active,
a.navbar-brand:hover {
  color: #fff;
  font-size: 125%;
}
.footer {
  background: #222;
  color: #fff;
  font-size: 110%;
  font-weight: 400;
  padding-top: 80px;
  padding-bottom: 60px;
  margin-top: 20px;
}
.footer a,
.footer a:link,
.footer a:visited,
.footer a:active {
  color: black;
}
.footer a:active {
  color: #fff;
}
